
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" name="hdnTotalPrice" id="hdnTotalPrice" value="{{totalPrice}}"/>
<div class="row">
    <div class="col-sm-8">
        <div>
            <h3>Order Details</h3>
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in cartItems">

                    <td>{{ item.ProductName }}</td>
                    <td>${{ item.Price }}</td>
                    <td><a href="#" ng-click="removeItemFromCart(item)">Remove</a></td>
                </tr>
                <tr>
                    <td class="text-muted">Total Price:</td>
                    <td class="text-danger"><b>${{totalPrice}}</b></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-4" style="padding-top:4.7%;">
        <img alt="Call Us at 888-686-2698" class="img-responsive" src="~/Content/images/security.jpg" /><br />
        <p>Your privacy is important to us. BetterWOMAN does not rent, sell or share your personal information with any third parties.</p>
    </div>
</div>
<div class="row">

    <form id="checkoutForm" method="get" action="" class="form-horizontal">
        <div id="rootwizard">
            <ul>
                <li><a href="#tab1" data-toggle="tab">Billing Info</a></li>
                <li><a href="#tab2" data-toggle="tab">Shipping Info</a></li>
                <li><a href="#tab3" data-toggle="tab">Payment</a></li>
            </ul>
            <div class="col-sm-9 tab-content">
                <div class="tab-pane" id="tab1">
                    <br />
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                   placeholder="Enter your first name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   placeholder="Enter your last name" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="Enter your email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address" name="address"
                                   placeholder="Enter your billing address" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="city" name="city"
                                   placeholder="Enter your billing city" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State:</label>
                        <div class="col-sm-10">
                            @*<p> Country Id of selected state is : {{selectedItem.CountryId}} </p>*@
                            <select class="form-control" id="state" name="state" ng-model="selectedState" ng-options="state.Label for state in states" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="province" class="col-sm-2 control-label">Province:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="province" name="province"
                                   placeholder="Enter your province if available">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country" class="col-sm-2 control-label">Country:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="country" name="country" ng-model="selectedCountry" ng-options="country.CountryName for country in countries" required></select>
                        </div>
                    </div>
                </div>
                <!------------------------- Shipping Tab -------------------------->
                <div class="tab-pane" id="tab2">
                    <br />
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shipFirstName" name="shipFirstName"
                                   placeholder="Enter your first name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shipLastName" name="shipLastName"
                                   placeholder="Enter your last name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="shipEmail" name="shipEmail"
                                   placeholder="Enter your shipping email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Shipping Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shipAddress" name="shipAddress"
                                   placeholder="Enter your shipping address" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Shipping City:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shipCity" name="shipCity"
                                   placeholder="Enter your shipping city" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="shipState" class="col-sm-2 control-label">Shipping State:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="shipState" name="shipState" ng-model="selecteShipState" ng-options="state.Label for state in states" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Province:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shipProvince" name="shipProvidence"
                                   placeholder="Enter your province if available">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Shipping Country:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="shipCountry" name="shipCountry" ng-model="selectedShipCountry" ng-options="country.CountryName for country in countries" required></select>
                        </div>
                    </div>
                </div>
                <!---------------       PAYMENT TAB    ------------------->
                <div class="tab-pane" id="tab3">
                    <br />
                    <div class="form-group">
                        @*<img alt="Credit Cards" src="~/Content/images/cc.jpg" class="img-responsive" />*@
                        <img src="../Content/images/cc.jpg" alt="Credit Cards"/>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Card Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ccNumber" name="ccNumber"
                                   placeholder="Enter your card number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="expiry-month">Expiration Date</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-xs-5">
                                    <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                                        <option>Month</option>
                                        <option value="01">Jan (01)</option>
                                        <option value="02">Feb (02)</option>
                                        <option value="03">Mar (03)</option>
                                        <option value="04">Apr (04)</option>
                                        <option value="05">May (05)</option>
                                        <option value="06">June (06)</option>
                                        <option value="07">July (07)</option>
                                        <option value="08">Aug (08)</option>
                                        <option value="09">Sep (09)</option>
                                        <option value="10">Oct (10)</option>
                                        <option value="11">Nov (11)</option>
                                        <option value="12">Dec (12)</option>
                                    </select>
                                </div>
                                <div class="col-xs-5">
                                    <select class="form-control" name="expiry-year">
                                        <option value="13">2013</option>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<ul class="pager wizard">*@
                    <div style="float:right">
                        <input type='button' class='btn button-next' name='next' value='Next' />
                        <input name="finish" id="finish" type='button' value="Finish"/>
                        @*<input type='button' class='btn button-last' name='last' value='Last' />*@
                    </div>
                    <div style="float:left">
                        @*<input type='button' class='btn button-first' name='first' value='First' />*@
                        <input type='button' class='btn button-previous' name='previous' value='Previous' />
                    </div>
                    @*<li class="previous first" style="display:none;"><a href="#">First</a></li>
                    <li class="previous"><a href="#">Previous</a></li>
                    <li class="next last" style="display:none;"><a href="#">Last</a></li>
                    <li class="next"><a href="#">Next</a></li>*@
                @*</ul>*@
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @*<script src="~/Scripts/app.order.js" type="text/javascript"></script>*@
}



