@{
    ViewBag.Title = "About";
}
<h2 class="text-muted">About the Company</h2>

<p>
    <img style="float: right;" alt="Dr. Wishnow" class="img-responsive" src="~/Content/images/pwishnowcolor.jpg" /><br />
    Peipei Wu Wishnow, Ph.D.<br /> <br /> <br />
    When I started Interceuticals, Inc. back in 1997, I was often asked "why," as a woman biologist, I choose BetterMAN&reg;
    as the flagship product for the company. Remember, 1997 was the pre-Viagra&reg; era, the erectile function issue was rarely
    discussed publicly.<br /> <br /> I wanted to build a company based on trust, and our first product must be able to deliver
    that trust, with a safety profile and health benefits noticeable to our customers. BetterMAN can build that trust.<br /> <br />
    I was born in China into a family with three generations of medical professionals.
    My grandfather was a well-known herbalist&mdash;his medical merit saved his life from the persecution of the Communists in the early 1950s.
    My parents are both physicians. I firmly believe that Traditional Chinese Medicine (TCM) has much to offer the healthcare needs of the world.
    As a Western trained professional, I also realize that certain aspects of TCM can benefit from Western scientific methods and technology.<br /> <br />
    After receiving my doctorate in biology in the United States and spending years as a researcher at MIT, CalTech and in the pharmaceutical industry,
    I clearly saw the value modern Western pharmaceutical companies offer consumers. At the same time, I started to realize the limitations of pharmaceutical drugs.
    Very often, drugs have many side effects. Most importantly, they are not appropriate for people who want to take a proactive, natural approach to improve their health.
    I founded Interceuticals to bridge the gap between these two health care cultures.<br /> <br /> <strong>&nbsp;Company Philosophy</strong><br />

    Our mission is to apply Western scientific methods and quality control to time-tested, efficacious TCM formulas.
    Our goal is to provide a line of high quality TCM products for health conscious consumers like yourself to improve your quality of life naturally.<br /> <br />
    <strong> Investor Relations&nbsp;</strong><br /> Interceuticals, Inc. is currently a privately held company.

    Thank you for your interest.<br /> <br /> <strong> Contact Us&nbsp;</strong><br />

    To place an order, please call toll free 24/7: 888-686-2698 or click here to go to the order page<br /> <br />
    Healthcare Professional toll free number (8 am-5 pm EST, Monday-Friday): <a href="tel:1-888-686-2698">888-686-2698</a><br /> <br />

    For other issues, please email us at info1@interceuticals.com<br /> <br /> <strong> Tel: </strong>978-744-4700 <strong>Fax:</strong> 978-744-4722<br /> <br /> <strong>
        Mail:
    </strong>Interceuticals, Inc., BetterWOMAN, 27 Congress St., Suite 304A, Salem, MA 01970
</p>
