@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-8">
        <form>

            <!-- Form Name -->
            <h2>Contact Us</h2>

            <!-- Text input-->
            <div class="form-group">
                <label for="hear-about">Where did you hear about us?</label>
                <input id="hear-about" name="hear-about" type="text" placeholder="Where did you hear about us" class="form-control" required="">
                <p class="help-block">How did you hear about us? Internet, Friend, Ad, etc</p>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" type="text" placeholder="Enter Email" class="form-control" required="">

            </div>

            <!-- Text input-->
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input id="first-name" name="first-name" type="text" placeholder="Enter First Name" class="form-control" required="">

            </div>

            <!-- Text input-->
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input id="last-name" name="last-name" type="text" placeholder="Enter Last Name" class="form-control" required="">

            </div>

            <!-- Text input-->
            <div class="form-group">
                <label for="company">Company</label>
                <input id="company" name="company" type="text" placeholder="Enter Company Name" class="form-control">
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label for="street">Street</label>
                <input id="street" name="street" type="text" placeholder="Enter Street Address" class="form-control">
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label for="city">City</label>
                <input id="city" name="city" type="text" placeholder="Enter City Address" class="form-control">
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label for="state-select">State</label>
                <select id="state-select" name="state-select" class="form-control">
                    <option>Select State</option>
                    <option>Alabama</option>
                    <option>Arkansas</option>
                </select>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label for="zip">Zip Code</label>
                <input id="zip" name="zip" type="text" placeholder="Enter Zip Code" class="form-control">
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label for="comments">Comments</label>
                <textarea id="comments" name="comments" class="form-control"></textarea>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label for="submit"></label>
                <button id="submit" name="submit" class="btn btn-default">Submit</button>
            </div>

        </form>
    </div>
</div>
        



        


        @*<address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>*@
