@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<div class="row">
    @*<div class="col-sm-6 col-lg-4">
        test
    </div>*@

    @*<div class="col-sm-6 col-lg-10">*@

    <h2>Contact Us</h2>
        <form class="form-horizontal" role="form">


            <div class="col-sm-8 col-lg-4">
                <div class="form-group">
                    <label for="hearAbout" class="col-md-4 control-label">Where did you hear about us?</label>
                    <div class="col-md-10">
                        <input id="hearAbout" name="hearAbout" type="text" placeholder="Where did you hear about us" class="form-control" required="">
                        @*<p class="help-block">How did you hear about us? Internet, Friend, Ad, etc</p>*@
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-lg-4">
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">Email:</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" id="email" placeholder="Email" required="">
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-lg-4">
                <div class="form-group">
                    <label for="firstName" class="col-md-4 control-label">First Name:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" required="">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="col-sm-8 col-lg-4">
                <div class="form-group">
                    <label for="lastName" class="col-md-4 control-label">Last Name:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" required="">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="col-sm-8 col-lg-4">
                <div class="form-group">
                    <label for="company" class="col-md-4 control-label">Company:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="company" placeholder="Enter Company">
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-4">
                <div class="form-group">
                    <label for="street" class="col-md-4 control-label">Street:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="street" placeholder="Enter Street">
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-4">
                <div class="form-group">
                    <label for="state" class="col-md-4 control-label">State:</label>
                    <div class="col-md-8">
                        <select id="state-select" name="state-select" class="form-control">
                            <option>Select State</option>
                            <option>Alabama</option>
                            <option>Arkansas</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-4">
                <div class="form-group">
                    <label for="commnents" class="col-md-4 control-label">Comments:</label>
                    <div class="col-md-8">
                        <textarea id="comments" name="comments" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-4">
                <div class="form-group">
                    <label for="submit" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <button id="submit" name="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
@*</div>*@
        



        


        @*<address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>*@
